
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:mediumpurple;
  color: black;
  border-bottom: 4px;
  border-color: black;
}


.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  box-sizing: inherit;
}


.container {
  box-shadow: 4px 4px 4px rgb(51, 207, 255);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 1rem;
  
}

input {
  width: 100%;
  font-size: 1.2rem;
  padding: 8px 4px;
  margin: 8px 0;
  border-radius: 8px;
  color: white;
  background-color: hotpink;
}

.btn {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  margin: 8px 0;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
  border-radius: 8px;
  cursor: pointer;
  color: 4px rgb(0, 255, 0);
  background-color: rgb(104, 155, 207);
}

.btn-outline {
  background-color:rgb(93, 141, 189);
  color:bold 4px rgb(0, 255, 0);
}
.btn:hover{
  color:blue;
}

.center {
  text-align: center;
  margin: 24px 0;
  background-color: darkorange;
  border-style:groove;
}
.center:hover{
  color:white ;
}

p {
  margin: 10px 0;
}

.img-container {
  text-align: center;
}

.img-container img {
  height: 200px;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}